@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model AsansorTakipV3.Models.Marka
<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12 animate-box">
                    <h3>Markalar</h3>
                    <form method="post">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label>Marka Adı</label>
                                        <input type="text" id="Adi" class="form-control" placeholder="Adi" value="@Model.Adi" name="Adi">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Kaydet - Güncelle" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

